version: '3'
services:
  app:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/var/www/html
    environment:
      - APP_ENV=production
      - APP_KEY=
      - APP_DEBUG=false
      - APP_URL=https://forest-fire-detection-rugt.onrender.com/?1
  python-api:
    build:
      context: .
      dockerfile: Python.Dockerfile
    ports:
      - "8001:8000"
    volumes:
      - ./backend:/app
